<html>
	<head>
		<title>{{page.name}}</title>

		<link type="text/css" rel="stylesheet" href="/assets/style.css"/>
		<link type="text/css" rel="stylesheet" href="/assets/monokai_sublime.css"/>

	</head>
	<body>
		{{#markdown}}
{{>body}}
		{{/markdown}}
	</body>
</html>